(edif zjh_jtd
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 1 4 23 52 48)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell MIN3XI (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & !B & !C + !A & B & !C + !A & !B & C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell zjh_jtd (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
           (port Y (direction OUTPUT))
         )
         (contents
          (instance (rename YZ0 "Y") (viewRef prim (cellRef MIN3XI (libraryRef PA3)))          )
          (instance Y_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance C_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance B_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance A_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net A_c (joined
           (portRef Y (instanceRef A_pad))
           (portRef B (instanceRef YZ0))
          ))
          (net A (joined
           (portRef A)
           (portRef PAD (instanceRef A_pad))
          ))
          (net B_c (joined
           (portRef Y (instanceRef B_pad))
           (portRef C (instanceRef YZ0))
          ))
          (net B (joined
           (portRef B)
           (portRef PAD (instanceRef B_pad))
          ))
          (net C_c (joined
           (portRef Y (instanceRef C_pad))
           (portRef A (instanceRef YZ0))
          ))
          (net C (joined
           (portRef C)
           (portRef PAD (instanceRef C_pad))
          ))
          (net Y_c (joined
           (portRef Y (instanceRef YZ0))
           (portRef D (instanceRef Y_pad))
          ))
          (net Y (joined
           (portRef PAD (instanceRef Y_pad))
           (portRef Y)
          ))
         )
        (property orig_inst_of (string "zjh_jtd"))
       )
    )
  )
  (design zjh_jtd (cellRef zjh_jtd (libraryRef work)))
)
