(edif zjh_74HC194
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2021 12 23 15 43 7)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port S (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E0C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell zjh_74HC194 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port MR_N (direction INPUT))
           (port (array (rename s "S[1:0]") 2) (direction INPUT))
           (port (array (rename d "D[1:0]") 2) (direction INPUT))
           (port Clk (direction INPUT))
           (port (array (rename in "In[0:3]") 4) (direction INPUT))
           (port (array (rename out "Out[0:3]") 4) (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_RNIVNV7_1 "S_pad_RNIVNV7[1]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Out_RNO_0 "Out_RNO[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_1 "Out_RNO[1]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_2 "Out_RNO[2]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_3 "Out_RNO[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_0_0 "Out_RNO_0[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_0_1 "Out_RNO_0[1]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_0_2 "Out_RNO_0[2]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename Out_RNO_0_3 "Out_RNO_0[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename S_pad_RNIVNV7_0_1 "S_pad_RNIVNV7_0[1]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename OutZ0Z_3 "Out[3]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename OutZ0Z_2 "Out[2]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename OutZ0Z_1 "Out[1]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename OutZ0Z_0 "Out[0]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename Out_pad_0 "Out_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Out_pad_1 "Out_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Out_pad_2 "Out_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Out_pad_3 "Out_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename In_pad_0 "In_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename In_pad_1 "In_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename In_pad_2 "In_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename In_pad_3 "In_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_1 "D_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_0 "D_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_1 "S_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_0 "S_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance MR_N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net Out30 (joined
           (portRef Y (instanceRef S_pad_RNIVNV7_0_1))
           (portRef E (instanceRef OutZ0Z_0))
           (portRef E (instanceRef OutZ0Z_1))
           (portRef E (instanceRef OutZ0Z_2))
           (portRef E (instanceRef OutZ0Z_3))
          ))
          (net (rename Out_11_3 "Out_11[3]") (joined
           (portRef Y (instanceRef Out_RNO_3))
           (portRef D (instanceRef OutZ0Z_3))
          ))
          (net (rename Out_11_2 "Out_11[2]") (joined
           (portRef Y (instanceRef Out_RNO_2))
           (portRef D (instanceRef OutZ0Z_2))
          ))
          (net (rename Out_11_1 "Out_11[1]") (joined
           (portRef Y (instanceRef Out_RNO_1))
           (portRef D (instanceRef OutZ0Z_1))
          ))
          (net (rename Out_11_0 "Out_11[0]") (joined
           (portRef Y (instanceRef Out_RNO_0))
           (portRef D (instanceRef OutZ0Z_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_6 (joined
           (portRef Y (instanceRef Out_RNO_0_3))
           (portRef A (instanceRef Out_RNO_3))
          ))
          (net N_7 (joined
           (portRef Y (instanceRef Out_RNO_0_2))
           (portRef A (instanceRef Out_RNO_2))
          ))
          (net N_8 (joined
           (portRef Y (instanceRef Out_RNO_0_1))
           (portRef A (instanceRef Out_RNO_1))
          ))
          (net N_9 (joined
           (portRef Y (instanceRef Out_RNO_0_0))
           (portRef A (instanceRef Out_RNO_0))
          ))
          (net Out_11_sn_N_2 (joined
           (portRef Y (instanceRef S_pad_RNIVNV7_1))
           (portRef S (instanceRef Out_RNO_3))
           (portRef S (instanceRef Out_RNO_2))
           (portRef S (instanceRef Out_RNO_1))
           (portRef S (instanceRef Out_RNO_0))
          ))
          (net MR_N_c (joined
           (portRef Y (instanceRef MR_N_pad))
           (portRef CLR (instanceRef OutZ0Z_0))
           (portRef CLR (instanceRef OutZ0Z_1))
           (portRef CLR (instanceRef OutZ0Z_2))
           (portRef CLR (instanceRef OutZ0Z_3))
          ))
          (net MR_N (joined
           (portRef MR_N)
           (portRef PAD (instanceRef MR_N_pad))
          ))
          (net (rename S_c_0 "S_c[0]") (joined
           (portRef Y (instanceRef S_pad_0))
           (portRef B (instanceRef S_pad_RNIVNV7_0_1))
           (portRef S (instanceRef Out_RNO_0_3))
           (portRef S (instanceRef Out_RNO_0_2))
           (portRef S (instanceRef Out_RNO_0_1))
           (portRef S (instanceRef Out_RNO_0_0))
           (portRef B (instanceRef S_pad_RNIVNV7_1))
          ))
          (net (rename S_0 "S[0]") (joined
           (portRef (member s 1))
           (portRef PAD (instanceRef S_pad_0))
          ))
          (net (rename S_c_1 "S_c[1]") (joined
           (portRef Y (instanceRef S_pad_1))
           (portRef A (instanceRef S_pad_RNIVNV7_0_1))
           (portRef A (instanceRef S_pad_RNIVNV7_1))
          ))
          (net (rename S_1 "S[1]") (joined
           (portRef (member s 0))
           (portRef PAD (instanceRef S_pad_1))
          ))
          (net (rename D_c_0 "D_c[0]") (joined
           (portRef Y (instanceRef D_pad_0))
           (portRef A (instanceRef Out_RNO_0_3))
          ))
          (net (rename D_0 "D[0]") (joined
           (portRef (member d 1))
           (portRef PAD (instanceRef D_pad_0))
          ))
          (net (rename D_c_1 "D_c[1]") (joined
           (portRef Y (instanceRef D_pad_1))
           (portRef B (instanceRef Out_RNO_0_0))
          ))
          (net (rename D_1 "D[1]") (joined
           (portRef (member d 0))
           (portRef PAD (instanceRef D_pad_1))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef OutZ0Z_0))
           (portRef CLK (instanceRef OutZ0Z_1))
           (portRef CLK (instanceRef OutZ0Z_2))
           (portRef CLK (instanceRef OutZ0Z_3))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net (rename In_c_3 "In_c[3]") (joined
           (portRef Y (instanceRef In_pad_3))
           (portRef B (instanceRef Out_RNO_3))
          ))
          (net (rename In_3 "In[3]") (joined
           (portRef (member in 3))
           (portRef PAD (instanceRef In_pad_3))
          ))
          (net (rename In_c_2 "In_c[2]") (joined
           (portRef Y (instanceRef In_pad_2))
           (portRef B (instanceRef Out_RNO_2))
          ))
          (net (rename In_2 "In[2]") (joined
           (portRef (member in 2))
           (portRef PAD (instanceRef In_pad_2))
          ))
          (net (rename In_c_1 "In_c[1]") (joined
           (portRef Y (instanceRef In_pad_1))
           (portRef B (instanceRef Out_RNO_1))
          ))
          (net (rename In_1 "In[1]") (joined
           (portRef (member in 1))
           (portRef PAD (instanceRef In_pad_1))
          ))
          (net (rename In_c_0 "In_c[0]") (joined
           (portRef Y (instanceRef In_pad_0))
           (portRef B (instanceRef Out_RNO_0))
          ))
          (net (rename In_0 "In[0]") (joined
           (portRef (member in 0))
           (portRef PAD (instanceRef In_pad_0))
          ))
          (net (rename Out_c_3 "Out_c[3]") (joined
           (portRef Q (instanceRef OutZ0Z_3))
           (portRef D (instanceRef Out_pad_3))
           (portRef A (instanceRef Out_RNO_0_2))
          ))
          (net (rename Out_3 "Out[3]") (joined
           (portRef PAD (instanceRef Out_pad_3))
           (portRef (member out 3))
          ))
          (net (rename Out_c_2 "Out_c[2]") (joined
           (portRef Q (instanceRef OutZ0Z_2))
           (portRef D (instanceRef Out_pad_2))
           (portRef B (instanceRef Out_RNO_0_3))
           (portRef A (instanceRef Out_RNO_0_1))
          ))
          (net (rename Out_2 "Out[2]") (joined
           (portRef PAD (instanceRef Out_pad_2))
           (portRef (member out 2))
          ))
          (net (rename Out_c_1 "Out_c[1]") (joined
           (portRef Q (instanceRef OutZ0Z_1))
           (portRef D (instanceRef Out_pad_1))
           (portRef B (instanceRef Out_RNO_0_2))
           (portRef A (instanceRef Out_RNO_0_0))
          ))
          (net (rename Out_1 "Out[1]") (joined
           (portRef PAD (instanceRef Out_pad_1))
           (portRef (member out 1))
          ))
          (net (rename Out_c_0 "Out_c[0]") (joined
           (portRef Q (instanceRef OutZ0Z_0))
           (portRef D (instanceRef Out_pad_0))
           (portRef B (instanceRef Out_RNO_0_1))
          ))
          (net (rename Out_0 "Out[0]") (joined
           (portRef PAD (instanceRef Out_pad_0))
           (portRef (member out 0))
          ))
         )
        (property orig_inst_of (string "zjh_74HC194"))
       )
    )
  )
  (design zjh_74HC194 (cellRef zjh_74HC194 (libraryRef work)))
)
