(edif zjh_CE0
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2021 12 23 23 27 34)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AND3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A & B & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell zjh_74HC161 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port MR_c (direction INPUT))
           (port Clk_c (direction INPUT))
           (port Q1_c (direction OUTPUT))
           (port Q0_c (direction OUTPUT))
           (port Q2_c (direction OUTPUT))
           (port C_c (direction INPUT))
           (port Q3_c (direction OUTPUT))
         )
         (contents
          (instance Q_n3 (viewRef prim (cellRef XA1B (libraryRef PA3)))          )
          (instance Q_n2 (viewRef prim (cellRef XA1B (libraryRef PA3)))          )
          (instance Q_8_0 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance Q_n1 (viewRef prim (cellRef XA1B (libraryRef PA3)))          )
          (instance Q_n0 (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance Q_c1 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Q_0 "Q[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename Q_1 "Q[1]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename Q_2 "Q[2]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename Q_3 "Q[3]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Q_nZ0Z3 "Q_n3") (joined
           (portRef Y (instanceRef Q_n3))
           (portRef D (instanceRef Q_3))
          ))
          (net Q3_c (joined
           (portRef Q (instanceRef Q_3))
           (portRef A (instanceRef Q_n3))
           (portRef Q3_c)
          ))
          (net (rename Q_8Z0Z_0 "Q_8_0") (joined
           (portRef Y (instanceRef Q_8_0))
           (portRef B (instanceRef Q_n3))
          ))
          (net C_c (joined
           (portRef C_c)
           (portRef B (instanceRef Q_n0))
           (portRef C (instanceRef Q_n1))
           (portRef C (instanceRef Q_n2))
           (portRef C (instanceRef Q_n3))
          ))
          (net (rename Q_nZ0Z2 "Q_n2") (joined
           (portRef Y (instanceRef Q_n2))
           (portRef D (instanceRef Q_2))
          ))
          (net Q2_c (joined
           (portRef Q (instanceRef Q_2))
           (portRef A (instanceRef Q_8_0))
           (portRef A (instanceRef Q_n2))
           (portRef Q2_c)
          ))
          (net (rename Q_cZ0Z1 "Q_c1") (joined
           (portRef Y (instanceRef Q_c1))
           (portRef B (instanceRef Q_8_0))
           (portRef B (instanceRef Q_n2))
          ))
          (net (rename Q_nZ0Z1 "Q_n1") (joined
           (portRef Y (instanceRef Q_n1))
           (portRef D (instanceRef Q_1))
          ))
          (net Q0_c (joined
           (portRef Q (instanceRef Q_0))
           (portRef A (instanceRef Q_c1))
           (portRef A (instanceRef Q_n0))
           (portRef A (instanceRef Q_n1))
           (portRef Q0_c)
          ))
          (net Q1_c (joined
           (portRef Q (instanceRef Q_1))
           (portRef B (instanceRef Q_c1))
           (portRef B (instanceRef Q_n1))
           (portRef Q1_c)
          ))
          (net (rename Q_nZ0Z0 "Q_n0") (joined
           (portRef Y (instanceRef Q_n0))
           (portRef D (instanceRef Q_0))
          ))
          (net Clk_c (joined
           (portRef Clk_c)
           (portRef CLK (instanceRef Q_3))
           (portRef CLK (instanceRef Q_2))
           (portRef CLK (instanceRef Q_1))
           (portRef CLK (instanceRef Q_0))
          ))
          (net MR_c (joined
           (portRef MR_c)
           (portRef CLR (instanceRef Q_3))
           (portRef CLR (instanceRef Q_2))
           (portRef CLR (instanceRef Q_1))
           (portRef CLR (instanceRef Q_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "zjh_74HC161"))
       )
    )
    (cell zjh_CE0 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Clk (direction INPUT))
           (port MR (direction INPUT))
           (port C (direction OUTPUT))
           (port Q0 (direction OUTPUT))
           (port Q1 (direction OUTPUT))
           (port Q2 (direction OUTPUT))
           (port Q3 (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance Q3_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Q0_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance C_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance MR_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance AND3_0 (viewRef prim (cellRef AND3 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance zjh_74HC161_0 (viewRef netlist (cellRef zjh_74HC161))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef Clk_c (instanceRef zjh_74HC161_0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net MR_c (joined
           (portRef Y (instanceRef MR_pad))
           (portRef MR_c (instanceRef zjh_74HC161_0))
          ))
          (net MR (joined
           (portRef MR)
           (portRef PAD (instanceRef MR_pad))
          ))
          (net C_c (joined
           (portRef Y (instanceRef AND3_0))
           (portRef C_c (instanceRef zjh_74HC161_0))
           (portRef D (instanceRef C_pad))
          ))
          (net C (joined
           (portRef PAD (instanceRef C_pad))
           (portRef C)
          ))
          (net Q0_c (joined
           (portRef Q0_c (instanceRef zjh_74HC161_0))
           (portRef C (instanceRef AND3_0))
           (portRef D (instanceRef Q0_pad))
          ))
          (net Q0 (joined
           (portRef PAD (instanceRef Q0_pad))
           (portRef Q0)
          ))
          (net Q1_c (joined
           (portRef Q1_c (instanceRef zjh_74HC161_0))
           (portRef D (instanceRef Q1_pad))
          ))
          (net Q1 (joined
           (portRef PAD (instanceRef Q1_pad))
           (portRef Q1)
          ))
          (net Q2_c (joined
           (portRef Q2_c (instanceRef zjh_74HC161_0))
           (portRef B (instanceRef AND3_0))
           (portRef D (instanceRef Q2_pad))
          ))
          (net Q2 (joined
           (portRef PAD (instanceRef Q2_pad))
           (portRef Q2)
          ))
          (net Q3_c (joined
           (portRef Q3_c (instanceRef zjh_74HC161_0))
           (portRef A (instanceRef AND3_0))
           (portRef D (instanceRef Q3_pad))
          ))
          (net Q3 (joined
           (portRef PAD (instanceRef Q3_pad))
           (portRef Q3)
          ))
         )
        (property orig_inst_of (string "zjh_CE0"))
       )
    )
  )
  (design zjh_CE0 (cellRef zjh_CE0 (libraryRef work)))
)
