(edif zjh_74HC74
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2021 12 21 17 54 17)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell zjh_74HC74 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Sd (direction INPUT))
           (port Rd (direction INPUT))
           (port Clk (direction INPUT))
           (port D (direction INPUT))
           (port Q (direction OUTPUT))
         )
         (contents
          (instance Q_RNO (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance Q8 (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename QZ0 "Q") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance Q_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance D_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Clk_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Rd_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Sd_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename QZ0Z8 "Q8") (joined
           (portRef Y (instanceRef Q8))
           (portRef CLR (instanceRef QZ0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Sd_c (joined
           (portRef Y (instanceRef Sd_pad))
           (portRef A (instanceRef Q8))
           (portRef A (instanceRef Q_RNO))
          ))
          (net Sd (joined
           (portRef Sd)
           (portRef PAD (instanceRef Sd_pad))
          ))
          (net Rd_c (joined
           (portRef Y (instanceRef Rd_pad))
           (portRef B (instanceRef Q8))
          ))
          (net Rd (joined
           (portRef Rd)
           (portRef PAD (instanceRef Rd_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef QZ0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net D_c (joined
           (portRef Y (instanceRef D_pad))
           (portRef D (instanceRef QZ0))
          ))
          (net D (joined
           (portRef D)
           (portRef PAD (instanceRef D_pad))
          ))
          (net Q_c (joined
           (portRef Q (instanceRef QZ0))
           (portRef D (instanceRef Q_pad))
          ))
          (net Q (joined
           (portRef PAD (instanceRef Q_pad))
           (portRef Q)
          ))
          (net Sd_c_i (joined
           (portRef Y (instanceRef Q_RNO))
           (portRef PRE (instanceRef QZ0))
          ))
         )
        (property orig_inst_of (string "zjh_74HC74"))
       )
    )
  )
  (design zjh_74HC74 (cellRef zjh_74HC74 (libraryRef work)))
)
