(edif zjh_CE3
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 1 4 10 57 7)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1E1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell zjh_74HC138 (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename newcore_0_q "newCore_0_Q[1:0]") 2) (direction INPUT))
           (port un1_A_6 (direction OUTPUT))
           (port un1_A_8 (direction OUTPUT))
           (port un1_A_7 (direction OUTPUT))
           (port un1_A_7_i (direction OUTPUT))
         )
         (contents
          (instance (rename un1_A_7_iZ0 "un1_A_7_i") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename un1_AZ0Z_8 "un1_A_8") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename un1_AZ0Z_7 "un1_A_7") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename un1_AZ0Z_6 "un1_A_6") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net un1_A_7_i (joined
           (portRef Y (instanceRef un1_A_7_iZ0))
           (portRef un1_A_7_i)
          ))
          (net un1_A_7 (joined
           (portRef Y (instanceRef un1_AZ0Z_7))
           (portRef A (instanceRef un1_A_7_iZ0))
           (portRef un1_A_7)
          ))
          (net un1_A_8 (joined
           (portRef Y (instanceRef un1_AZ0Z_8))
           (portRef un1_A_8)
          ))
          (net (rename newCore_0_Q_1 "newCore_0_Q[1]") (joined
           (portRef (member newcore_0_q 0))
           (portRef A (instanceRef un1_AZ0Z_6))
           (portRef B (instanceRef un1_AZ0Z_7))
           (portRef A (instanceRef un1_AZ0Z_8))
          ))
          (net (rename newCore_0_Q_0 "newCore_0_Q[0]") (joined
           (portRef (member newcore_0_q 1))
           (portRef B (instanceRef un1_AZ0Z_6))
           (portRef A (instanceRef un1_AZ0Z_7))
           (portRef B (instanceRef un1_AZ0Z_8))
          ))
          (net un1_A_6 (joined
           (portRef Y (instanceRef un1_AZ0Z_6))
           (portRef un1_A_6)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "zjh_74HC138"))
       )
    )
    (cell Reg (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename newcore_0_q "newCore_0_Q[1:0]") 2) (direction INPUT))
           (port Reg_0_M_0 (direction OUTPUT))
         )
         (contents
          (instance un1_S_1 (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename Reg_0_M_0 "Reg_0_M[1]") (joined
           (portRef Y (instanceRef un1_S_1))
           (portRef Reg_0_M_0)
          ))
          (net (rename newCore_0_Q_1 "newCore_0_Q[1]") (joined
           (portRef (member newcore_0_q 0))
           (portRef A (instanceRef un1_S_1))
          ))
          (net (rename newCore_0_Q_0 "newCore_0_Q[0]") (joined
           (portRef (member newcore_0_q 1))
           (portRef B (instanceRef un1_S_1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "Reg"))
       )
    )
    (cell newCore (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename newcore_0_q "newCore_0_Q[1:0]") 2) (direction OUTPUT))
           (port Aclr_c (direction INPUT))
           (port Clock_c (direction INPUT))
         )
         (contents
          (instance INV_1 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1C0_NU_0 (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance INV_0 (viewRef prim (cellRef INV (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance DFN1E1C0_NU_1 (viewRef prim (cellRef DFN1E1C0 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net INV_1_Y (joined
           (portRef Y (instanceRef INV_1))
           (portRef D (instanceRef DFN1C0_NU_0))
          ))
          (net (rename newCore_0_Q_0 "newCore_0_Q[0]") (joined
           (portRef Q (instanceRef DFN1C0_NU_0))
           (portRef E (instanceRef DFN1E1C0_NU_1))
           (portRef A (instanceRef INV_1))
           (portRef (member newcore_0_q 1))
          ))
          (net Clock_c (joined
           (portRef Clock_c)
           (portRef CLK (instanceRef DFN1E1C0_NU_1))
           (portRef CLK (instanceRef DFN1C0_NU_0))
          ))
          (net Aclr_c (joined
           (portRef Aclr_c)
           (portRef CLR (instanceRef DFN1E1C0_NU_1))
           (portRef CLR (instanceRef DFN1C0_NU_0))
          ))
          (net INV_0_Y (joined
           (portRef Y (instanceRef INV_0))
           (portRef D (instanceRef DFN1E1C0_NU_1))
          ))
          (net (rename newCore_0_Q_1 "newCore_0_Q[1]") (joined
           (portRef Q (instanceRef DFN1E1C0_NU_1))
           (portRef A (instanceRef INV_0))
           (portRef (member newcore_0_q 0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "newCore"))
       )
    )
    (cell zjh_CE3 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Aclr (direction INPUT))
           (port Clock (direction INPUT))
           (port Y1 (direction OUTPUT))
           (port Y2 (direction OUTPUT))
           (port Y3 (direction OUTPUT))
           (port Y4 (direction OUTPUT))
           (port a (direction OUTPUT))
           (port b (direction OUTPUT))
           (port c (direction OUTPUT))
           (port d (direction OUTPUT))
           (port e (direction OUTPUT))
           (port f (direction OUTPUT))
           (port g (direction OUTPUT))
         )
         (contents
          (instance Clock_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance g_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance f_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance e_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance d_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance c_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance b_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance a_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Y4_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Y3_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Y2_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Y1_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Aclr_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance newCore_0 (viewRef netlist (cellRef newCore))
          )
          (instance Reg_0 (viewRef netlist (cellRef Reg))
          )
          (instance zjh_74HC138_0 (viewRef netlist (cellRef zjh_74HC138))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename newCore_0_Q_0 "newCore_0_Q[0]") (joined
           (portRef (member newcore_0_q 1) (instanceRef newCore_0))
           (portRef (member newcore_0_q 1) (instanceRef zjh_74HC138_0))
           (portRef (member newcore_0_q 1) (instanceRef Reg_0))
          ))
          (net (rename newCore_0_Q_1 "newCore_0_Q[1]") (joined
           (portRef (member newcore_0_q 0) (instanceRef newCore_0))
           (portRef (member newcore_0_q 0) (instanceRef zjh_74HC138_0))
           (portRef (member newcore_0_q 0) (instanceRef Reg_0))
          ))
          (net (rename Reg_0_M_1 "Reg_0_M[1]") (joined
           (portRef Reg_0_M_0 (instanceRef Reg_0))
           (portRef D (instanceRef Y4_pad))
           (portRef D (instanceRef f_pad))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef c_pad))
          ))
          (net un1_A_6 (joined
           (portRef un1_A_6 (instanceRef zjh_74HC138_0))
           (portRef D (instanceRef Y3_pad))
           (portRef D (instanceRef a_pad))
           (portRef D (instanceRef d_pad))
          ))
          (net un1_A_7 (joined
           (portRef un1_A_7 (instanceRef zjh_74HC138_0))
           (portRef D (instanceRef e_pad))
          ))
          (net un1_A_8 (joined
           (portRef un1_A_8 (instanceRef zjh_74HC138_0))
           (portRef D (instanceRef Y1_pad))
           (portRef D (instanceRef b_pad))
          ))
          (net Aclr_c (joined
           (portRef Y (instanceRef Aclr_pad))
           (portRef Aclr_c (instanceRef newCore_0))
          ))
          (net Aclr (joined
           (portRef Aclr)
           (portRef PAD (instanceRef Aclr_pad))
          ))
          (net Clock_c (joined
           (portRef Y (instanceRef Clock_pad))
           (portRef Clock_c (instanceRef newCore_0))
          ))
          (net Clock (joined
           (portRef Clock)
           (portRef PAD (instanceRef Clock_pad))
          ))
          (net Y1 (joined
           (portRef PAD (instanceRef Y1_pad))
           (portRef Y1)
          ))
          (net Y2 (joined
           (portRef PAD (instanceRef Y2_pad))
           (portRef Y2)
          ))
          (net Y3 (joined
           (portRef PAD (instanceRef Y3_pad))
           (portRef Y3)
          ))
          (net Y4 (joined
           (portRef PAD (instanceRef Y4_pad))
           (portRef Y4)
          ))
          (net a (joined
           (portRef PAD (instanceRef a_pad))
           (portRef a)
          ))
          (net b (joined
           (portRef PAD (instanceRef b_pad))
           (portRef b)
          ))
          (net c (joined
           (portRef PAD (instanceRef c_pad))
           (portRef c)
          ))
          (net d (joined
           (portRef PAD (instanceRef d_pad))
           (portRef d)
          ))
          (net e (joined
           (portRef PAD (instanceRef e_pad))
           (portRef e)
          ))
          (net f (joined
           (portRef PAD (instanceRef f_pad))
           (portRef f)
          ))
          (net g (joined
           (portRef PAD (instanceRef g_pad))
           (portRef g)
          ))
          (net (rename zjh_74HC138_0_un1_A_7_i "zjh_74HC138_0.un1_A_7_i") (joined
           (portRef un1_A_7_i (instanceRef zjh_74HC138_0))
           (portRef D (instanceRef Y2_pad))
           (portRef D (instanceRef g_pad))
          ))
         )
        (property orig_inst_of (string "zjh_CE3"))
       )
    )
  )
  (design zjh_CE3 (cellRef zjh_CE3 (libraryRef work)))
)
