(edif xulie_1110
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2019 12 31 19 59 34)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell NOR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell xulie_1110 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Reset (direction INPUT))
           (port Clk (direction INPUT))
           (port Din (direction INPUT))
           (port Dout (direction OUTPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename current_state_RNO_1 "current_state_RNO[1]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename current_state_RNO_0_3 "current_state_RNO_0[3]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename current_state_RNO_0_4 "current_state_RNO_0[4]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename current_state_RNO_0_2 "current_state_RNO_0[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename current_state_RNO_0_0 "current_state_RNO_0[0]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename current_state_RNO_4 "current_state_RNO[4]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename current_state_RNO_3 "current_state_RNO[3]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename current_state_RNO_2 "current_state_RNO[2]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename current_state_RNO_0 "current_state_RNO[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename current_state_RNI9HFV_0 "current_state_RNI9HFV[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename current_state_0 "current_state[0]") (viewRef prim (cellRef DFN1P1 (libraryRef PA3)))
          )
          (instance (rename current_state_1 "current_state[1]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename current_state_2 "current_state[2]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename current_state_3 "current_state[3]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename current_state_4 "current_state[4]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance Dout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance Din_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance Reset_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename current_stateZ0Z_0 "current_state[0]") (joined
           (portRef Q (instanceRef current_state_0))
           (portRef B (instanceRef current_state_RNI9HFV_0))
          ))
          (net (rename current_stateZ0Z_1 "current_state[1]") (joined
           (portRef Q (instanceRef current_state_1))
           (portRef C (instanceRef current_state_RNO_3))
           (portRef C (instanceRef current_state_RNO_4))
           (portRef B (instanceRef current_state_RNO_0_0))
           (portRef A (instanceRef current_state_RNO_0_2))
          ))
          (net (rename current_stateZ0Z_2 "current_state[2]") (joined
           (portRef Q (instanceRef current_state_2))
           (portRef C (instanceRef current_state_RNO_0))
           (portRef C (instanceRef current_state_RNO_2))
           (portRef B (instanceRef current_state_RNO_0_4))
           (portRef A (instanceRef current_state_RNO_0_3))
          ))
          (net (rename current_stateZ0Z_3 "current_state[3]") (joined
           (portRef Q (instanceRef current_state_3))
           (portRef B (instanceRef current_state_RNO_0))
           (portRef B (instanceRef current_state_RNO_0_2))
           (portRef A (instanceRef current_state_RNO_0_4))
           (portRef B (instanceRef current_state_RNO_0_3))
          ))
          (net (rename current_state_RNOZ0Z_2 "current_state_RNO[2]") (joined
           (portRef Y (instanceRef current_state_RNO_2))
           (portRef D (instanceRef current_state_2))
          ))
          (net (rename current_state_RNOZ0Z_3 "current_state_RNO[3]") (joined
           (portRef Y (instanceRef current_state_RNO_3))
           (portRef D (instanceRef current_state_3))
          ))
          (net (rename current_state_RNOZ0Z_4 "current_state_RNO[4]") (joined
           (portRef Y (instanceRef current_state_RNO_4))
           (portRef D (instanceRef current_state_4))
          ))
          (net (rename current_state_ns_0 "current_state_ns[0]") (joined
           (portRef Y (instanceRef current_state_RNO_0))
           (portRef D (instanceRef current_state_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_15_mux (joined
           (portRef Y (instanceRef current_state_RNI9HFV_0))
           (portRef A (instanceRef current_state_RNO_2))
           (portRef A (instanceRef current_state_RNO_3))
           (portRef A (instanceRef current_state_RNO_4))
          ))
          (net Reset_c (joined
           (portRef Y (instanceRef Reset_pad))
           (portRef CLR (instanceRef current_state_4))
           (portRef CLR (instanceRef current_state_3))
           (portRef CLR (instanceRef current_state_2))
           (portRef CLR (instanceRef current_state_1))
           (portRef PRE (instanceRef current_state_0))
          ))
          (net Reset (joined
           (portRef Reset)
           (portRef PAD (instanceRef Reset_pad))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef current_state_4))
           (portRef CLK (instanceRef current_state_3))
           (portRef CLK (instanceRef current_state_2))
           (portRef CLK (instanceRef current_state_1))
           (portRef CLK (instanceRef current_state_0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net Din_c (joined
           (portRef Y (instanceRef Din_pad))
           (portRef A (instanceRef current_state_RNI9HFV_0))
           (portRef A (instanceRef current_state_RNO_0_0))
           (portRef A (instanceRef current_state_RNO_1))
          ))
          (net Din (joined
           (portRef Din)
           (portRef PAD (instanceRef Din_pad))
          ))
          (net Dout_d_c (joined
           (portRef Q (instanceRef current_state_4))
           (portRef D (instanceRef Dout_pad))
           (portRef C (instanceRef current_state_RNI9HFV_0))
          ))
          (net Dout (joined
           (portRef PAD (instanceRef Dout_pad))
           (portRef Dout)
          ))
          (net m13_0 (joined
           (portRef Y (instanceRef current_state_RNO_0_0))
           (portRef A (instanceRef current_state_RNO_0))
          ))
          (net m5_0 (joined
           (portRef Y (instanceRef current_state_RNO_0_2))
           (portRef B (instanceRef current_state_RNO_2))
          ))
          (net m10_0 (joined
           (portRef Y (instanceRef current_state_RNO_0_4))
           (portRef B (instanceRef current_state_RNO_4))
          ))
          (net m8_0 (joined
           (portRef Y (instanceRef current_state_RNO_0_3))
           (portRef B (instanceRef current_state_RNO_3))
          ))
          (net Din_c_i (joined
           (portRef Y (instanceRef current_state_RNO_1))
           (portRef D (instanceRef current_state_1))
          ))
         )
        (property langParams (string "S0 S1 S2 S3 S4"))
        (property S4 (integer 16))
        (property S3 (integer 8))
        (property S2 (integer 4))
        (property S1 (integer 2))
        (property S0 (integer 1))
        (property orig_inst_of (string "xulie_1110"))
       )
    )
  )
  (design xulie_1110 (cellRef xulie_1110 (libraryRef work)))
)
